* {
    box-sizing: border-box;
}

#page {
    width: 320px;
    max-width: 425px;
    margin: 0 auto;
}

body {
    font-family: Cereal, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#fixed-head {
    position: fixed;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}

#searchbar {
    margin: 0px auto;
    max-width: 300px;
    max-height: 40px;
    height: 40px;
    width: 250px;
    border-radius: 20px;
    box-shadow:0px 3px 15px 0px rgb(207, 205, 205);
    border: 1px transparent black;
    line-height: 16px;
}

#searchbar:hover {
    border: 2px solid black;
    cursor: pointer;
}

#search-text {
    padding-left: 40px;
}

#search-text img {
    position: absolute;
    left: 10px;
    top: 10px;
    max-width: 20px;
    max-height: 20px;
}

#where-to {
    font-weight: 500;
    font-size: 0.8rem;
}

#anywhere {
    font-size: 0.6rem;
    color: grey;
}

.search-dot{
    font-size: 0.5rem
}

#iconflex {
    display: flex;
    justify-content: space-evenly;
}

#iconflex figcaption {
    font-size: 10px;
}

#iconflex img {
    max-width: 25px;
    max-height: 25px;
}

.navicons {
    display: inline-block;
    text-align: center;
    color: grey;
    margin-top: 10px;
}

.navicons:hover {
    color: black;
    border-bottom: 2px solid black;
    padding-bottom: 7px;
    cursor: pointer;
    margin-bottom: -10px;
}