* {
    box-sizing: border-box;
}

#page {
    max-width: 425px;
    margin: 0 auto;
}

body {
    font-family: Cereal, Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

#fixed-head {
    position: fixed;
    border-bottom: 1px transparent #dddddd;
    box-shadow: 0px 5px 5px -5px #dddddd;
    padding-bottom: 10px;
    min-width: 425px;
    height: 130px;
    background-color: #fff;
    top: 0px;

}

#searchbar {
    margin: 5px auto;
    max-width: 385px;
    max-height: 50px;
    height: 50px;
    width: 375px;
    border-radius: 20px;
    box-shadow:0px 3px 15px -3px rgb(207, 205, 205);
    border: 1px transparent black;
    line-height: 16px;
}

#searchbar:hover {
    border: 2px solid black;
    cursor: pointer;
}

#search-text {
    padding-left: 50px;
    padding-top: 7px;
}

#search-text img {
    position: absolute;
    left: 40px;
    top: 19px;
    max-width: 25px;
    max-height: 25px;
}

#where-to {
    font-weight: 500;
    font-size: 0.85rem;
}

#anywhere {
    font-size: 0.75rem;
    color: #6a6a6a;
    font-weight: 300;
}

.search-dot{
    font-size: 8px;
    vertical-align: calc(1.5px);
}

#iconflex {
    display: flex;
    justify-content: space-evenly;
}

#iconflex figcaption {
    font-size: 0.7rem;
    font-weight: 500;
}

#iconflex img {
    max-width: 25px;
    max-height: 25px;
}

.navicons {
    text-align: center;
    color: #6a6a6a;
    margin-top: 15px;
}

.navicons:hover {
    color: #222222;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
    cursor: pointer;
    margin-bottom: -10px;
}

#main-s {
    display: block;
    margin-top: 155px;
}

.mainflex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image img {
    max-height: 375px;
    max-width: 375px;
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 1/1;
}

.image {
    margin-bottom: 40px;
}

.image:last-of-type {
    margin-bottom: 50px;
}

.image:hover {
    cursor: pointer;
}

.image figcaption {
    padding-top: 10px;
    line-height: 1.3rem;
    color: #222222;
}

.figcap-hosted-by {
    font-size: 0.9rem;
    font-weight: 300;
    color: #6a6a6a;
}

#PE-header {
    padding-left: 25px;
    font-size: 2rem;
    font-weight: 450;
    margin-bottom: 30px;
}

#footer-section {
    background-color: #f7f7f7;
    width: 425px;
    margin: 0 auto;
    padding: 0 25px;
    border-top: 1px solid #dddddd;
}

hr {
    border: 0.5px solid #dddddd
}

#symbol {
    margin-left: -1px;
}

#english {
    padding-left: 5px;
}

#gbp {
    padding-left: 20px
}

#english-flex {
    display: flex;
    align-items: center;
}

.english {
    padding-bottom: 5px;
}

.inline {
    display: inline;
}

h1 {
    font-size: 0.9em;
    font-weight: 500;
    color: #222222;
    padding-top: 15px;
}

h2 {
    font-size: 0.85rem;
    font-weight: 300;
    line-height: 1.5;
}

h2:last-of-type {
    padding-bottom: 15px;
}

h2:hover {
    cursor: pointer;
    text-decoration: underline;
}

h3{
    font-size: 0.85rem;
    font-weight: 500;
}

h4 {
    margin-top: 6px;
    font-size: 0.9rem;
    font-weight: 300;
}

#last {
    line-height: 1.6;
    margin-top: -15px;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

figcaption {
    font-weight: 500;
    font-size: 0.95rem;
}